.container {
  position: absolute;
  top: 0px;
  left: 100px;
  padding: 0px;
  height: 45px;
  border: none;
  animation: logoImageAnimation 1s;
  transition: all ease-in-out;
  /* border-radius: 50%; */
}

.logo {
  font-family: 'Beau Rivage', cursive;
  font-size: 40px;
  margin: 0;
  font-weight: 400;
  stroke-width: 1px;
  overflow: visible;
  stroke: #fff;
  animation: draw 4s;
}

.logo:hover {
  stroke: #1fa2ff;
}
@keyframes draw {
  0% {
    stroke-dasharray: 0, 50%;
  }
  100% {
    stroke-dasharray: 50%, 0;
  }
}

/* @media (max-width: 1500px) {
  .container {
    left: 50px;
    width: 150px;
  }
  .logo {
    font-size: 23px;
  }
} */

@media (max-width: 1500px) {
  .container {
    left: 45px;
  }
}

@keyframes logoImageAnimation {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
